#navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;

}
#navigation li {
  float: left;
  background-color: #33adff;
}
#navigation a {
  display: block;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  color: #ffffff;
}
body {
  font-size: 14px;
  font-family: "Helvetica", "Arial", sans-serif;
  background-color: #0099ff;
  color: #ffffff;
}
h1 {
  font-size: 2em;
  text-align: center;
  padding: 10px;
}
h2 {
  font-size: 1.5em;
}
ol {
  list-style-type: lower-roman;
}
ul {
  list-style-type: square;
}
a {
  color: #ffffff;
  font-style: italic;
  text-decoration: none;
}
a:hover {
  color: #e6f5ff;
}
.intro {
  text-align: center;
}
.sectionals {
  display: flex;
  justify-content: center;
}
.section {
  padding: 5px;
  border: 1px solid;
  margin: 10px;
}
@media only screen and (max-width: 582px) {
  .sectionals {
    flex-direction: column;
  }
}
